body{
  background-color: black;
 color: white;
 font-family: 'Times New Roman', Times, serif;
}
*{  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.carousel-container{
  width: 60%;
  margin: auto;
  
}
.carousel-slide{
  display: flex;
  width: 100%;
  height: 500px;
  opacity: 0.4;

}
.navbar{
  width: 100%;
  height: 50px;
  background-color: aqua;
}
.navbar-container{
  display: flex;
  align-items: center;
  background-color: blueviolet;
}
.logo-container{
  flex: 16;
  color: black;
}
.logo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  
}
.home-container{
  flex: 16;
  color: black;

}
.profile-container{
  flex: 4;
  color: black;
}
.movie-container{
  flex: 16;
  color: black;
}
.sidebar{
    width: 10px;
    height: 100%;
    background-color: blueviolet;
    position: fixed;
    top: 0%;

  }  
  @-webkit-keyframes slide_animation{
0% {left:0px;}
10% {left:0px;}
20% {left:660px;}
30% {left:1200px;}
40% {left:1200px;}
50% {left:2400px;}
60% {left:2400px;}
70% {left:1200px;}
80% {left:1200px;}
90% {left:0px;}
100% {left:0px;}
}
.carousel-slide{
  width: 3600px;
  height: 800px;
  margin: 0 0 0 -2400px;
  position: relative;
  -webkit-animation-name:slide_animation;
  -webkit-animation-duration:33s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}
